/* @tailwind base;
@tailwind components;
@tailwind utilities; */


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #328d88;
   
}
.App {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.Apps{
    position: relative;
    margin-top: 100px;
    margin-left: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.describ h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.describ h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.card img{
    width: auto;
    height: 90vh;
}
.start{
    display: flex;
}

.pack{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}
.pack div{
    display: flex;
    gap: 10px;
}

.perso{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.perso select{
    border: 1px solid blue;
    padding: 4px ;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    margin-bottom: 10px;
}
.perso  input {
    border: 1px solid #666;
    border-radius: 5px;
    width: 300px;
}
.perso p {
    font-size: 14px;
    color: #666;
}
.add{
    display: flex;
    gap: 10px;
}
.desrib {
    margin: 10px 0;
}
.plus {
    border: 1px solid #297dcc;
    border-radius:  7px;
}

.btn {
    background-color: #4c9eb8;
    border-radius: 3px;
    padding: 0 10px;
}
.bt{
    padding: 0 15px;
}
.pag{
    padding: 0 10px;
    border-radius: 10px;
    
}


.chron {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    background-color: white;
    padding: 30px 80px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.chron h2{
    font-size: 34px;
    font-weight: bold;
}
.chron div{
    display: flex;
    gap: 20px;
    font-size: 24px;
    
}
.chron button{
    border: 1px solid #377f30;
    padding: 0 10px;
    border-radius: 10px;
    transition: 0.5s;
}
.chron button:hover{
    background-color: #377f30;
}

@media screen and (max-width: 800px) {
    .App{
        display: flex;
        flex-direction: column;
    }
    .Apps{
        position: relative;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .card img{
        width: auto;
        height: 50vh;
    }
}

.tasks{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 10px;
    column-gap: 1px;
    align-items: center;
    justify-content: center;
    /* width: 900px; */
    margin-left: 50px;
    margin-top: 20px;
}
.tasks h2 {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
   
}
.inputs{
 
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    
}
.input {
    display: flex;
    gap: 10px;

}
.input button{
    padding: 5px 10px;
}
.input input{
    border-radius: 10px;

}
button{
    border: 1px solid #666;
    border-radius: 10px;
}

.formTasks{
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    
    margin-top: 20px;
}

.formTasks li{
    /* display: grid; */
    /* grid-template-columns: repeat(1, 1fr); */
    gap: 10px;
    column-gap: 10px;
    row-gap: 10px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.formTasks li input{
    margin-right: 15px;
    font-size: 20px;
}
button:hover{
    background-color: #377f30;
  
}

.delet{
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 5;
    font-size: 20px;
   
}
.delet button{
    padding: 4px 8px;
}
input[type="checkbox"] {
    width: 1.5em;
    height: 1.5rem;
    accent-color: green;
  }

  @-moz-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }
  .checkbox-wrapper-19 .check-box {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid #000;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
  }
  
/* <div class="checkbox-wrapper-19">
  <input type="checkbox" id="cbtest-19" />
  <label for="cbtest-19" class="check-box">
</div>

<style>
  .checkbox-wrapper-19 {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: 25px;
  }

  @-moz-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @-webkit-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  @-webkit-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  @-moz-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  .checkbox-wrapper-19 input[type=checkbox] {
    display: none;
  } */

  /* .checkbox-wrapper-19 .check-box {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid #000;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
  }
  .checkbox-wrapper-19 .check-box::before,
  .checkbox-wrapper-19 .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * .2);
    background-color: #34b93d;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
  }
  .checkbox-wrapper-19 .check-box::before {
    top: calc(var(--checkbox-height) * .72);
    left: calc(var(--checkbox-height) * .41);
    box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .checkbox-wrapper-19 .check-box::after {
    top: calc(var(--checkbox-height) * .37);
    left: calc(var(--checkbox-height) * .05);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
  .checkbox-wrapper-19 .check-box.checked {
    border-color: #34b93d;
  }
  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
  .checkbox-wrapper-19 .check-box.checked::after {
    height: calc(var(--checkbox-height) / 2);
    -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    animation: dothabottomcheck-19 0.2s ease 0s forwards;
  }
  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
  .checkbox-wrapper-19 .check-box.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
    animation: dothatopcheck-19 0.4s ease 0s forwards;
  }
</style> */
